@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
@import "mkp";
@import "./material-kit-react.css";
@import "material-kit-react";

img {
  width: auto;
  height: auto;
  max-width: 100%;
}

ul {
    list-style-type: square;
    text-align: left;
}

p {
  text-align: justify;
  hyphens: auto;
}

#about {
  padding-top: 2rem;
}

.about-item {
  flex-wrap: wrap;
  margin-bottom: 2rem;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
  }
}

.contactus-2 {
  overflow: hidden;
  position: relative;
}

.service-card {
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;

  .service-title {
    opacity: 1;
  }

  .service-description {
    opacity: 0;
  }

  .service-title,
  .service-description {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    will-change: opacity;
    transition: opacity 200ms ease-in;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(3, 27, 58, .75);
    transition: background 200ms ease-in;
  }

  &:hover {
    &:before {
      background: rgba(0, 0, 0, .85 );
    }
    .service-title {
      opacity: 0;
    }
    .service-description {
      opacity: 1;
    }
    -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2),
    0 13px 24px -11px rgba(0, 0, 0, 0.6);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.2),
    0 13px 24px -11px rgba(0, 0, 0, 0.6);
  }


}

footer {
  background: #000;
  color: #fff;
}

footer a:hover {
  color: #6b92bd;
}