// @import "bootstrap";
@import "airspace";
@import "material-kit-react";

#hero {
  color: $white;
}

#about {
  padding-top: 2rem;
}

.about-item {
  flex-wrap: wrap;
  margin-bottom: 2rem;

  @media screen and (min-width: 768px) {
    flex-wrap: nowrap;
  }
}

#hero::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #8b86a3, #322e40);
  opacity: 0.8;
}